.login-paper {
  position: absolute;
  width: 380px;
  height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}

.login-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
